<template>
    <v-card flat>
        <v-card-text class="mt-15">
          <div class="d-flex justify-center mt-15">
            <span class="mt-15"> Coming soon !!</span>
          </div>
        </v-card-text>
    </v-card>
</template>
